# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Building Files
*.asv
build/*
Debug/*

# Computer Specific Setting files
*.json
.gitignore
.vscode/*

# Log files
*.csv

# Exe files
multiAgent
main
*.exe

double_agent_images/*.png
double_agent_logs/*.txt
single_agent_images/*.png
single_agent_logs/*.txt

